---
import type { Store } from '../shared/types';
import BaseLayout from '../layouts/base.astro';
import StoreListing from '../components/frontend/StoreListing.astro';
import SiteFooter from '../components/frontend/SiteFooter.astro';

export const prerender = true;

const response = await fetch(import.meta.env.PUBLIC_API_URL + '/api/places');

const stores: Store[] = await response.json();
---

<BaseLayout
  canonical="https://bookstore.guide"
  description="Your guide to San Francisco book sellers with descriptions, hours, and contact information."
  title="San Francisco Book Store Guide">
  <hgroup>
    <p>San Francisco</p>
    <h1>Bookstore Guide</h1>
  </hgroup>
  <div class="container">
    {
      stores.map((store) => (
        <div class="content">
          <a href={`${import.meta.env.BSG_BASE_URL}/store/${store.slug}`} class="name-link">
            {store.name}
          </a>
          <StoreListing store={store} description={store.description} />
        </div>
      ))
    }
  </div>
  <SiteFooter current="Home" />
</BaseLayout>

<style>
  hgroup p {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-weight: 800;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: -0.75rem;
  }

  hgroup h1 {
    margin: 0;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media (min-width: 768px) {
    hgroup h1 {
      font-size: 3.75rem;
      line-height: 1;
    }
  }

  .name-link {
    color: oklch(0.270224 0.027505 257.526);
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 0px;
  }

  .container {
    column-gap: 1rem;
    display: grid;
    max-width: 96vw;
  }
  @media (min-width: 1024px) {
    .container {
      max-width: 56rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
</style>
